<div class="wrapper">

 <nav class="lang-nav">
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">{{ site.languagesLocal[page.lang] }}</button>
      <div id="myDropdown" class="dropdown-content">
        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% for my_page in pages %} 
            <a rel="alternate" 
               hreflang="{{ my_page.lang }}" 
               href="{{ my_page.url | prepend: site.baseurl }}">
                  {{ site.languageName[my_page.lang] }}
            </a>
        {% endfor %}
      </div>
    </div>
 </nav><!--lang-nav -->

{% include faqLink.html %}

</div><!--wrapper -->


<script type="text/javascript">
    {% include language-selector.js %}
</script>

