<!--#########################################################################-->
<button style="background: #cedfe8; " onclick="view.recordingInformation()">
  {{ page.recording_information | default: default.recording_information }}</button>
<div style="display: none;" id="recording_information_display">
<label for="microphone">{{ page.microphone.label | default: default.microphone.label }}</label>
<div class="other">
  <select type="text" id="microphone">
    <option selected value="{{ page.default_value | default: default.default_value }}">
        {{ page.please_select | default: default.please_select }}
    </option>
    {% if page.microphone.selection %}
      {% assign microphone_list = page.microphone.selection %} 
    {% else %}
      {% assign microphone_list = default.microphone.selection %}
    {% endif %}
    {% for item in microphone_list %}
      <option value="{{ item }}">{{ item }}</option>    
    {% endfor %}
   </select>
<div style="display: none;"  id="microphone_other_display">
  <input id="microphone_other" 
     placeholder="{{ page.microphone.other_label | default: default.microphone.other_label }}" value="" 
     type="text">
</div> <!--microphone_other_display-->
</div> <!--other-->

<label for="recording_location">
{{ page.recording_location.label | default: default.recording_location.other_label }}</label>
<div class="other">
<select type="text" id="recording_location">
  <option selected value="{{ page.default_value | default: default.default_value }}">
      {{ page.please_select | default: default.please_select}}
  </option>
    {% if page.recording_location.selection %}
      {% assign recording_location_list = page.recording_location.selection %} 
    {% else %}
      {% assign recording_location_list = default.recording_location.selection %}
    {% endif %}
    {% for item in recording_location_list %}
      <option value="{{ item }}">{{ item }}</option>    
    {% endfor %}
  </select>
<div style="display: none;"  id="recording_location_other_display">
  <input id="recording_location_other" 
     placeholder="{{ page.recording_location.other_label | default: default.recording_location.other_label}}" value="" 
     type="text">
</div><!--recording_location_other_display-->
</div> <!--other-->
<label for="background_noise">
{{ page.background_noise.label | default: default.background_noise.label}}</label>
<select type="text" id="background_noise">
<option selected value="{{ page.default_value | default: default.default_value }}">
    {{ page.please_select | default: default.please_select}}
</option>
{% if page.background_noise.selection %}
  {% assign background_noise_list = page.background_noise.selection %} 
{% else %}
  {% assign background_noise_list = default.background_noise.selection %}
{% endif %}
{% for item in background_noise_list %}
  <option value="{{ item }}">{{ item }}</option>
{% endfor %}
</select>

<div id=background_noise_display>
<label for="noise_volume">{{ page.noise_volume.label | default: default.noise_volume.label }}</label>
<div class="other">
  <select type="text" id="noise_volume">
    <option selected value="{{ page.default_value | default: default.default_value }}">
        {{ page.please_select | default: default.please_select }}
    </option>
    {% if page.noise_volume.selection %}
      {% assign noise_volume_list = page.noise_volume.selection %} 
    {% else %}
      {% assign noise_volume_list = default.noise_volume.selection %}
    {% endif %}
    {% for item in noise_volume_list %}
      <option value="{{ item }}">{{ item }}</option>
    {% endfor %}
  </select>
</div><!--other-->
<label for="noise_type">{{ page.noise_type.label | default: default.noise_type.label }}</label>
<div class="other">
  <select type="text" id="noise_type">
    <option selected value="{{ page.default_value | default: default.default_value  }}">
        {{ page.please_select | default: default.please_select }}
    </option>
    {% if page.noise_type.selection %}
      {% assign noise_type_list = page.noise_type.selection %} 
    {% else %}
      {% assign noise_type_list = default.noise_type.selection %}
    {% endif %}
    {% for item in noise_type_list %}
      <option value="{{ item }}">{{ item }}</option>
    {% endfor %}
  </select>

  <div style="display: none;"  id="noise_type_other_display">
    <input id="noise_type_other" 
       placeholder="{{ page.noise_type.other_label | default: default.noise_type.other_label }}" value="" 
       type="text">
  </div>
</div><!--other-->
</div> <!-- background_noise_display -->
 <label  style="display: inline;"  for="license">{{ page.license.label | default: default.license.label }}</label>
 <a href="#license_popupInfo" data-rel="popup" data-transition="pop" 
   class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" 
   title="{{ page.license.popup.hover_text | default: default.license.popup.hover_text}}">
 </a>
 <div data-role="popup" id="license_popupInfo" class="ui-content" data-theme="a" style="max-width:350px;">
  <p><a href="{{ page.license.popup.link | default: default.license.popup.link}}" 
        target="_blank">{{ page.license.label | default: default.license.label }}</a>: 
        {{ page.license.popup.text | default: default.license.popup.text }}</p>
 </div>
   <select type="text" id="license">
    <option selected value="{{ page.license.selection_default.value | default: default.license.selection_default.value}}">
          {{ page.license.selection_default.item | default: default.license.selection_default.item}}</option>
    {% if page.license.selection %}
      {% assign license_list = page.license.selection %} 
    {% else %}
      {% assign license_list = default.license.selection %}
    {% endif %}
    {% for item in license_list %}
      <option value="{{ item.value }}">{{ item.option }}</option>
    {% endfor %}
    </select>

</div> <!-- recording_information_display -->
