---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<!---  TODO fix this mess of divs!!!!
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: '{{ my_page.lang }}', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
---!>
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

  </header>

  <div class="post-content" itemprop="articleBody">
    <ul>
      {% assign faq_list=site.faqs | where:"lang", page.lang | sort: 'title' %}
      {% for faq_entry in faq_list %}
        <li><a href="{{ faq_entry.url }}">{{ faq_entry.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

</article>
