---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: default.lang }}">

  {% include head.html %}

  <body>

    {% include header.html %}
    {% include languageNav.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}

              <iframe width="500" 
                      height="800" 
                      sandbox src="https://repository.voxforge1.org/corpus/{{ page.lang | default: default.lang }}/Trunk/Audio/Original/" >
              </iframe>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
