---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

<div>




<applet mayscript="mayscript" style="border: 1px solid rgb(153,153,153);" name="VoxForge.org Speech Submission Application" code="speechrecorder/RecorderApplet.class" width="950" height="1050">
 <param value="http://read.voxforge1.org/speech/" name="codebase"> 
 <param value="speechrecorder.jar" name="archive">
 <param value="speechrecorder.jar" name="cache_archive">
 <param value="0.2.5" name="cache_version"> 
 <param value="application/x-java-applet;version=0.2.5" name="type"> 
 <param value="true" name="scriptable">
 <param value="http://read.voxforge1.org/speech/javaUploadServer.php" name="destination"> 
 <param value="http://www.voxforge.org/EN/endpage" name="endpage">
 <param value="" name="cookie">
 <param value="EN" name="language">

<br>
<table style="background-color: rgb(255, 195, 1);" width="550" height="24" border="1"><tbody><tr><td> 
<b>Webstart:</b> <a href="http://read.voxforge1.org/speech/SpeechSubmission.jnlp" onclick="return launchApplication('SpeechSubmission.jnlp');">click to launch this app as a Java Web Start Program</a><br>
<hr>
<a href="/faq/java-webstart-and-voxforge-speechsubmission-application">Help with launching Java Web Start Programs from Browser or Command Line</a>


</td></tr></tbody></table>

 </applet>
</div>
