---
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title  | default: default.title }}</title>	

    <link href="/assets/static/styles/jquery.mobile-1.4.5.css" rel="stylesheet" type="text/css"> 
    <link href="/assets/static/styles/app.css" rel="stylesheet" type="text/css">
    <link rel="manifest" href="../manifest.json">
  </head>

  <body>

    <div class="wrapper">
      <section class="top-display">
      <header>
        <h1>{{ page.title  | default: default.title }}</h1>
      </header>

      <div id="upload_status_display" border-style: solid;>
      </div>

      {% assign default = site.data.read.default %}

      <button style="display: none;" 
              id="profile-button-display" 
              style="background: #cedfe8;" 
              onclick="view.profileInfo()">{{ page.profile_info | default: default.profile_info}}</button>

        <!-- https://learn.jquery.com/using-jquery-core/selecting-elements/ -->
	    <div id="profile-display">
	      <div class="profile">
          <label for="username">{{ page.username_label | default: default.username_label }}</label>
          <input id="username" 
                 placeholder="{{ page.username_label | default: default.username_label}}" value="" 
                 type="text">
          <div id=anonymous_instructions_display>
            <small>{{ page.anonymous_submission | default: default.anonymous_submission }}</small><br><br>
          </div>
      <button style="background: #cedfe8;" onclick="view.speakerCharacteristics()">{{ page.speaker_characteristics  | default: default.speaker_characteristics }}</button>
	    <div style="display: none;" id="speaker_characteristics_display">

          <label for="gender">{{ page.gender.label | default: default.gender.label }}</label>         
          <select name="gender" id="gender">
            <option selected value="{{ page.default_value | default: default.default_value }}">
                {{ page.please_select | default: default.please_select }}
            </option>
            {% if page.gender.selection  %}
              {% assign gender_list = page.gender.selection %} 
            {% else %}
              {% assign gender_list = default.gender.selection %}
            {% endif %}
            {% for item in gender_list %}
              <option value="{{ item }}">{{ item }}</option>    
            {% endfor %}
          </select>

          <label for="age">{{ page.age.label | default: default.age.label}}</label>
          <select type="text" id="age">
            <option selected value="{{ page.default_value | default: default.default_value }}">
                {{ page.please_select  | default: default.please_select }}
            </option>
            {% if page.age.selection  %}
              {% assign age_list = page.age.selection %} 
            {% else %}
              {% assign age_list = default.age.selection %}
            {% endif %}
            {% for item in age_list %}
              <option old_value="{{ item.old_value }}" value="{{ item.value }}">{{ item.value }}</option> 
            {% endfor %}

          </select>

          <label style="display: inline;"  for="native_speaker">
             {{ page.native_speaker.label | default: default.native_speaker.label}}</label>
          <a href="#native_speaker_popupInfo" data-rel="popup" data-transition="pop" 
             class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" 
             title="{{ page.native_speaker.popup_text | default: default.native_speaker.popup_text}}">
          </a>
          <div data-role="popup" id="native_speaker_popupInfo" class="ui-content" data-theme="a" style="max-width:350px;">
            <p><a href="{{ page.native_speaker.popup_link | default: default.native_speaker.popup_link}}" 
                  target="_blank">{{ page.native_speaker.label | default: default.native_speaker.label}}</a>: 
                  {{ page.native_speaker.popup_text | default: default.native_speaker.popup_text}}</p>
          </div>
          <select type="text" id="native_speaker">
            <option selected value="{{ page.default_value | default: default.default_value }}">
                {{ page.please_select | default: default.please_select}}
            </option>
            {% if page.native_speaker.selection  %}
              {% assign native_speaker_list = page.native_speaker.selection %} 
            {% else %}
              {% assign native_speaker_list = default.native_speaker.selection %}
            {% endif %}
            {% for item in native_speaker_list %}
              <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
          </select>

          <div style="display: none;"  id="first_language_display">
            <label style="display: inline;"  for="first_language">{{ page.first_language.label | default: default.first_language.label }}</label>
            <a href="#first_language_popupInfo" data-rel="popup" data-transition="pop" 
               class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" 
               title="{{ page.first_language.popup_text | default: default.first_language.popup_text}}">
            </a>
            <div data-role="popup" id="first_language_popupInfo" class="ui-content" data-theme="a" style="max-width:350px;">
              <p><a href="{{ page.first_language.popup_link | default: default.first_language.popup_link}}" 
                    target="_blank">{{ page.first_language.label | default: default.first_language.label}}</a>: 
                    {{ page.first_language.popup_text | default: default.first_language.popup_text}}</p>
            </div>
            <div class="other">
                <select type="text" id="first_language">
                </select>
                <div style="display: none;"  id="first_language_other_display">
                  <input id="first_language_other" 
                     placeholder="{{ page.first_language.other_label | default: default.first_language.other_label }}" value="" 
                     type="text">
                </div><!--first_language_other_display-->
            </div><!--other-->
          </div><!--first_language_display-->

          <div style="display: none;"  id="outer_dialect_display">

	            <label style="display: inline;"  for="dialect">{{ page.dialect.label | default: default.dialect.label}}</label>
              <a href="#dialect_popupInfo" data-rel="popup" data-transition="pop" 
                class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" 
                title="{{ page.dialect.popup_text | default: default.dialect.popup_text}}">
              </a>
              <div data-role="popup" id="dialect_popupInfo" class="ui-content" data-theme="a" style="max-width:350px;">
                <p><a href="{{ page.dialect.popup_link | default: default.dialect.popup_link}}" 
                      target="_blank">{{ page.dialect.label | default: default.dialect.label}}</a>: 
                      {{ page.dialect.popup_text | default: default.dialect.popup_text}}</p>
              </div>
              <div id=dialect_display>
                <div class="other">
                  <select id="dialect">
                    <option selected value="{{ page.default_value | default: default.default_value }}">
                        {{ page.please_select | default: default.please_select}}
                    </option>
                    {% if page.dialect.selection %}
                      {% assign dialect_list = page.dialect.selection %} 
                    {% else %}
                      {% assign dialect_list = default.dialect.selection %}
                    {% endif %}
                    {% for region in dialect_list %}
                      <optgroup label=" {{ region[0] }}">
                      {% for dialect in region[1] %}
                        <option value="{{ dialect }}">{{ dialect }}</option>
                      {% endfor %}
                    {% endfor %}
                  </select>

                  <div style="display: none;"  id="dialect_other_display">
                    <input id="dialect_other" 
                       placeholder="{{ page.dialect.other_label | default: default.dialect.other_label }}" value="" 
                       type="text">
                  </div><!-- dialect_other_display -->
                </div><!--other-->
              </div> <!-- dialect_display -->

              <div style="display: none;" id=sub_dialect_display>
	              <label style="display: inline;"  for="sub_dialect">{{ page.sub_dialect.label }}</label>
                <a href="#sub_dialect_popupInfo" data-rel="popup" data-transition="pop" 
                   class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" 
                   title="{{ page.popup_text.label }}">
                </a>
                <div data-role="popup" id="sub_dialect_popupInfo" 
                     class="ui-content" data-theme="a" style="max-width:350px;">
                  <p><a href="{{ page.sub_dialect.popup_link }}" 
                     target="_blank">{{ page.sub_dialect.label }}</a>: {{ page.sub_dialect.popup_text }}</p>
                </div>
                <div class="other">
                  <select id="sub_dialect">
                     <!-- firefox does not display selected correctly... Egde does... -->
                     <option selected value="{{ page.default_value | default: default.default_value }}">
                        {{ page.please_select | default: default.please_select }}
                     </option>
                     {% for dialect in page.sub_dialect.selection_dialect %}
                       {% for region in page.sub_dialect.selection[dialect] %}
                         <optgroup name="{{ dialect }}" label=" {{ region[0] }}">
                         {% for dialect in region[1] %}
                           <option value="{{ dialect }}">{{ dialect }}</option>
                         {% endfor %}
                       {% endfor %}
                     {% endfor %}
                  </select>    
                </div><!--other-->      
              </div><!--sub_dialect_display -->

          </div><!--outer_dialect_display -->

      </div>  <!--speaker_characteristics_display-->

    <!--#########################################################################-->
        <button style="background: #cedfe8; " onclick="view.recordingInformation()">
            {{ page.recording_information | default: default.recording_information }}</button>
	      <div style="display: none;" id="recording_information_display">
          <label for="microphone">{{ page.microphone.label | default: default.microphone.label }}</label>
          <div class="other">
            <select type="text" id="microphone">
              <option selected value="{{ page.default_value | default: default.default_value }}">
                  {{ page.please_select | default: default.please_select }}
              </option>
              {% if page.microphone.selection %}
                {% assign microphone_list = page.microphone.selection %} 
              {% else %}
                {% assign microphone_list = default.microphone.selection %}
              {% endif %}
              {% for item in microphone_list %}
                <option value="{{ item }}">{{ item }}</option>    
              {% endfor %}
             </select>
          <div style="display: none;"  id="microphone_other_display">
            <input id="microphone_other" 
               placeholder="{{ page.microphone.other_label | default: default.microphone.other_label }}" value="" 
               type="text">
          </div> <!--microphone_other_display-->
        </div> <!--other-->

        <label for="recording_location">
          {{ page.recording_location.label | default: default.recording_location.other_label }}</label>
        <div class="other">
          <select type="text" id="recording_location">
            <option selected value="{{ page.default_value | default: default.default_value }}">
                {{ page.please_select | default: default.please_select}}
            </option>
              {% if page.recording_location.selection %}
                {% assign recording_location_list = page.recording_location.selection %} 
              {% else %}
                {% assign recording_location_list = default.recording_location.selection %}
              {% endif %}
              {% for item in recording_location_list %}
                <option value="{{ item }}">{{ item }}</option>    
              {% endfor %}
            </select>
          <div style="display: none;"  id="recording_location_other_display">
            <input id="recording_location_other" 
               placeholder="{{ page.recording_location.other_label | default: default.recording_location.other_label}}" value="" 
               type="text">
          </div><!--recording_location_other_display-->
        </div> <!--other-->
        <label for="background_noise">
          {{ page.background_noise.label | default: default.background_noise.label}}</label>
        <select type="text" id="background_noise">
          <option selected value="{{ page.default_value | default: default.default_value }}">
              {{ page.please_select | default: default.please_select}}
          </option>
          {% if page.background_noise.selection %}
            {% assign background_noise_list = page.background_noise.selection %} 
          {% else %}
            {% assign background_noise_list = default.background_noise.selection %}
          {% endif %}
          {% for item in background_noise_list %}
            <option value="{{ item }}">{{ item }}</option>
          {% endfor %}
        </select>

        <div id=background_noise_display>
          <label for="noise_volume">{{ page.noise_volume.label | default: default.noise_volume.label }}</label>
          <div class="other">
            <select type="text" id="noise_volume">
              <option selected value="{{ page.default_value | default: default.default_value }}">
                  {{ page.please_select | default: default.please_select }}
              </option>
              {% if page.noise_volume.selection %}
                {% assign noise_volume_list = page.noise_volume.selection %} 
              {% else %}
                {% assign noise_volume_list = default.noise_volume.selection %}
              {% endif %}
              {% for item in noise_volume_list %}
                <option value="{{ item }}">{{ item }}</option>
              {% endfor %}
            </select>
          </div><!--other-->
          <label for="noise_type">{{ page.noise_type.label | default: default.noise_type.label }}</label>
          <div class="other">
            <select type="text" id="noise_type">
              <option selected value="{{ page.default_value | default: default.default_value  }}">
                  {{ page.please_select | default: default.please_select }}
              </option>
              {% if page.noise_type.selection %}
                {% assign noise_type_list = page.noise_type.selection %} 
              {% else %}
                {% assign noise_type_list = default.noise_type.selection %}
              {% endif %}
              {% for item in noise_type_list %}
                <option value="{{ item }}">{{ item }}</option>
              {% endfor %}
            </select>

            <div style="display: none;"  id="noise_type_other_display">
              <input id="noise_type_other" 
                 placeholder="{{ page.noise_type.other_label | default: default.noise_type.other_label }}" value="" 
                 type="text">
            </div>
          </div><!--other-->
         </div> <!-- background_noise_display -->
           <label  style="display: inline;"  for="license">{{ page.license.label | default: default.license.label }}</label>
           <a href="#license_popupInfo" data-rel="popup" data-transition="pop" 
             class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" 
             title="{{ page.license.popup.hover_text | default: default.license.popup.hover_text}}">
           </a>
           <div data-role="popup" id="license_popupInfo" class="ui-content" data-theme="a" style="max-width:350px;">
            <p><a href="{{ page.license.popup.link | default: default.license.popup.link}}" 
                  target="_blank">{{ page.license.label | default: default.license.label }}</a>: 
                  {{ page.license.popup.text | default: default.license.popup.text }}</p>
           </div>
             <select type="text" id="license">
              <option selected value="{{ page.license.selection_default.value | default: default.license.selection_default.value}}">
                    {{ page.license.selection_default.item | default: default.license.selection_default.item}}</option>
              {% if page.license.selection %}
                {% assign license_list = page.license.selection %} 
              {% else %}
                {% assign license_list = default.license.selection %}
              {% endif %}
              {% for item in license_list %}
                <option value="{{ item.value }}">{{ item.option }}</option>
              {% endfor %}
              </select>

           <label  style="display: inline;"  for="ua_string"><small>
                   {{ page.ua_string.label | default: default.ua_string.label }}</small></label>
           <a href="#ua_string_popupInfo" data-rel="popup" data-transition="pop" 
             class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" 
             title="{{ page.ua_string.popup.hover_text | default: default.ua_string.popup.hover_text}}">
           </a>
           <div data-role="popup" id="ua_string_popupInfo" class="ui-content" data-theme="a" style="max-width:350px;">
            <p><a href="{{ page.ua_string.popup.link | default: default.ua_string.popup.link}}" 
                  target="_blank">{{ page.ua_string.label | default: default.ua_string.label}}</a>: 
                  {{ page.ua_string.popup.text | default: default.ua_string.popup.text }}</p>
           </div>
           <select type="text" id="ua_string">
            <option selected value="{{ page.ua_string.selection_default.value | default: default.ua_string.selection_default.value}}">
                    {{ page.ua_string.selection_default.item | default: default.ua_string.selection_default.item}}</option>
            {% if page.ua_string.selection %}
              {% assign ua_string_list = page.ua_string.selection %} 
            {% else %}
              {% assign ua_string_list = default.ua_string.selection %}
            {% endif %}
            {% for item in ua_string_list %}
              <option value="{{ item.value }}">{{ item.option }}</option>
            {% endfor %}
            </select>

	       </div> <!-- recording_information_display -->
	     </div><!-- profile -->
	   </div> <!-- profile-display -->

        <br>

      <div id="max_num_prompts-display">
          <label for="max_num_prompts">{{ page.num_prompts.label | default: default.num_prompts.label }}</label>
          <select type="text" id="max_num_prompts">
          </select>
      </div>
      <button id="instructions-button-display" 
              style="display: none;" 
              style="background: #cedfe8;" 
              onclick="view.directionsInfo()">
                {{ page.instructions.label | default: default.instructions.label }}
      </button>
      <div id="instructions-display">
        {% if page.instructions.lines %}
          {% assign instructions_lines = page.instructions.lines %} 
        {% else %}
          {% assign instructions_lines = default.instructions.lines %}
        {% endif %}
        {% for line in instructions_lines %}
            {{ line }} <br>
        {% endfor %}
        {{ page.instructions.lastline | default: default.instructions.lastline }}
      </div>

      <div class="progress-display">
      </div>
      <div class="info-display">
      </div>
      <div class="prompt_id" style="display: none;">
      </div>
      </section> <!-- top-display -->

      <section class="main-controls">
        <canvas class="visualizer"></canvas>
        <div id="buttons">
          <button class="record">{{ page.controls.record | default: default.controls.record }}</button>
          <button class="stop">{{ page.controls.stop | default: default.controls.stop }}</button>
          <button class="upload">{{ page.controls.upload | default: default.controls.upload }}</button>
        </div>
      </section> <!-- main-controls -->

      <!-- dummy 'delete_clicked' div that is triggered by clicking any one
      delete buttons of a recorded prompt -->
      <div id="delete_clicked">
      </div>

      <section class="sound-clips">
      </section>

    </div><!-- wrapper -->

    <script src="/assets/static/lib/jquery-1.12.4.js"></script>
    <script src="/assets/static/lib/jquery.mobile-1.4.5.js"></script> 
    <script src="/assets/static/lib/jszip.js"></script>
    <script src="/assets/static/lib/wavesurfer.js"></script>
    <script src="/assets/static/lib/platform.js"></script>
    <script src="/assets/static/lib/languages.js"></script>
    <script src="/assets/static/lib/visualize.js"></script>
    <script src="/assets/static/lib/localforage.js"></script>

<!-- to address Firefox on windows error of:"unable to cache asm.js in synchronous scripts" -->
    <script async src="/assets/static/lib/webrtc_vad.js"></script>

    <script src="/assets/static/lib/state-machine.js"></script>
<!--
    <script src="/assets/static/lib/state-machine-visualize.js"></script>
-->
    <script>
      // Javascript variables

      // language specific
      var page_prompt_list_files = {{ page.prompt_list_files | jsonify }};
      var page_total_number_of_prompts = {{ page.total_number_of_prompts }};

      // use defaults - see _data/read/default.yaml
      var page_localized_yes= "{{  page.localized_variable.lv_yes | default: default.localized_variable.lv_yes }}";
      var page_localized_no= "{{ page.localized_variable.lv_no | default: default.localized_variable.lv_no }}";
      var page_localized_other= "{{ page.localized_variable.other | default: default.localized_variable.other }}";
      var page_language= "{{ page.lang | default: default.lang }}";
      var page_please_select = "{{ page.please_select | default: default.please_select }}";
      var page_anonymous = "{{ page.anonymous | default: default.anonymous }}";
      var page_upload_message = {{ page.controls.upload_message | default: default.controls.upload_message }};
      var page_license = {{ page.license | default: default.license | jsonify }};
      var page_default_value = "{{ page.default_value | default: default.default_value }}";
      var page_alert_message = {{ page.alert_message | jsonify}};

      if ( page_alert_message ) {
        View.addAnyMissingPropertyDefaults({{ default.alert_message | jsonify}}, page_alert_message);
      } else {
        page_alert_message = {{ default.alert_message | jsonify}};
      }

      var page_browser_support = {{ page.browser_support | jsonify}};
      if ( page_browser_support ) {
        View.addAnyMissingPropertyDefaults({{ default.browser_support | jsonify}}, page_browser_support);
      } else {
        page_browser_support = {{ default.browser_support | jsonify}};
      }

      var page_license = {{ page.page_license | jsonify}};
      if ( page_license ) {
        View.addAnyMissingPropertyDefaults({{ default.license | jsonify}}, page_license);
      } else {
        page_license = {{ default.license | jsonify}};
      }
    </script>

    <script src="/assets/static/scripts/Audio.js"></script>
    <script src="/assets/static/scripts/processSavedSubmissions.js"></script>
    <script src="/assets/static/scripts/Profile.js"></script>
    <script src="/assets/static/scripts/Prompts.js"></script>
    <script src="/assets/static/scripts/upload.js"></script>
    <script src="/assets/static/scripts/View.js"></script>
    <script src="/assets/static/scripts/Controller.js"></script>
    <script src="/assets/static/scripts/app.js"></script>
  </body>
</html>
