---
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>	

    <link href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" rel="stylesheet" type="text/css"> 
    <!-- <link href="https://code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.css" rel="stylesheet" type="text/css"> -->
    <link href="/assets/static/styles/app.css" rel="stylesheet" type="text/css">
  </head>

  <body>

    <div class="wrapper">
      <section class="top-display">
      <header>
        <h1>VoxForge - {{ site.supportedLanguages[page.language_id] }}</h1>
      </header>
      <!-- https://developer.mozilla.org/en-US/docs/Learn/HTML/Howto/Use_data_attributes -->
     <article
        id="localized_variable"
        data-yes="{{ page.localized_variable.yup }}"
        data-no="{{ page.localized_variable.nope }}"
        data-other="{{ page.localized_variable.other }}"
        data-language="{{ page.lang }}" >
     </article>

      <button style="display: none;" 
              id="profile-button-display" 
              style="background: #cedfe8;" 
              onclick="profileInfo()">{{ page.profile_info }}</button>

        <!-- https://learn.jquery.com/using-jquery-core/selecting-elements/ -->
	    <div id="profile-display">
	      <div class="readme">

          <label for="username">{{ page.username_label }}</label>
          <input id="username" 
                 placeholder="{{ page.username_label }}" value="" 
                 type="text">
          <div id=anonymous_instructions_display>
            <small>{{ page.anonymous_submission }}</small></br></br>
          </div>
      <button style="background: #cedfe8;" onclick="speakerCharacteristics()">{{ page.speaker_characteristics }}</button>
	    <div style="display: none;" id="speaker_characteristics_display">
          <label for="gender">{{ page.gender.label }}</label>
          <select selected name="gender" id="gender">
            <option value="Unknown">{{ page.please_select }}</option>
            {% for item in page.gender.selection %}
              <option value="{{ item }}">{{ item }}</option>    
            {% endfor %}
          </select>

          <label for="age">{{ page.age.label }}</label>
          <select type="text" id="age"/></br>
            <option selected value="Unknown">{{ page.please_select }}</option>
            {% for item in page.age.selection %}
              <option old_value="{{ item.old_value }}" value="{{ item.value }}">{{ item.value }}</option> 
            {% endfor %}

          </select>

          <label style="display: inline;"  for="native_speaker">{{ page.native_speaker.label }}</label>
          <a href="#native_speaker_popupInfo" data-rel="popup" data-transition="pop" 
             class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" 
             title="{{ page.native_speaker.popup_text }}">
          </a>
          <div data-role="popup" id="native_speaker_popupInfo" class="ui-content" data-theme="a" style="max-width:350px;">
            <p><a href="{{ page.native_speaker.popup_link }}" target="_blank">{{ page.native_speaker.label }}</a>: {{ page.native_speaker.popup_text }}</p>
          </div>
          <select type="text" id="native_speaker"/></br>
            <option selected value="Unknown">{{ page.please_select }}</option>
            {% for item in page.native_speaker.selection %}
              <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
          </select>

          <div style="display: none;"  id="first_language_display">
            <label style="display: inline;"  for="first_language">{{ page.first_language.label }}</label>
            <a href="#first_language_popupInfo" data-rel="popup" data-transition="pop" 
               class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" 
               title="{{ page.first_language.popup_text }}">
            </a>
            <div data-role="popup" id="first_language_popupInfo" class="ui-content" data-theme="a" style="max-width:350px;">
              <p><a href="{{ page.first_language.popup_link }}" target="_blank">{{ page.first_language.label }}</a>: {{ page.first_language.popup_text }}</p>
            </div>
            <select type="text" id="first_language"/></br>
            </select>
            <div style="display: none;"  id="first_language_other_display">
              <label style="display: inline;"  for="first_language_other">{{ page.first_language.other_label }}</label>
              <input id="first_language_other" 
                 placeholder="{{ page.first_language.label }}" value="" 
                 type="text">
            </div>
          </div><!--first_language_display-->

          <div style="display: none;"  id="dialect_display">
	            <label style="display: inline;"  for="dialect">{{ page.dialect.label }}</label>
              <a href="#dialect_popupInfo" data-rel="popup" data-transition="pop" 
                class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" 
                title="{{ page.dialect.text }}">
              </a>
              <div data-role="popup" id="dialect_popupInfo" class="ui-content" data-theme="a" style="max-width:350px;">
                <p><a href="{{ page.dialect.popup_link }}" target="_blank">{{ page.dialect.label }}</a>: {{ page.dialect.popup_text }}</p>
              </div>
              <select id="dialect">
                <option selected value="Unknown">Please Select</option>
                {% for region in page.dialect.selection %}
                  <optgroup label=" {{ region[0] }}">
                  {% for dialect in region[1] %}
                    <option value="{{ dialect }}">{{ dialect }}</option>
                  {% endfor %}
                {% endfor %}
               </select>
              <div style="display: none;"  id="dialect_other_display">
                <label style="display: inline;"  for="dialect_other">{{ page.dialect.other_label }}</label>
                <input id="dialect_other" 
                   placeholder="{{ page.dialect.other_label }}" value="" 
                   type="text">
              </div>

              <div style="display: none;" id=sub_dialect_display>
	              <label style="display: inline;"  for="sub_dialect">{{ page.sub_dialect.label }}</label>
                <a href="#sub_dialect_popupInfo" data-rel="popup" data-transition="pop" 
                   class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" 
                   title="{{ page.popup_text.label }}">
                </a>
                <div data-role="popup" id="sub_dialect_popupInfo" 
                     class="ui-content" data-theme="a" style="max-width:350px;">
                  <p><a href="{{ page.sub_dialect.popup_link }}" 
                     target="_blank">{{ page.sub_dialect.label }}</a>: {{ page.sub_dialect.popup_text }}</p>
                </div>

                <select id="sub_dialect">
                   <!-- firefox does not display selected correctly... Egde does... -->
                   <option selected name="American English" value="Unknown">{{ page.please_select }}</option>
                   {% for dialect in page.sub_dialect.selection_dialect %}
                     {% for region in page.sub_dialect.selection[dialect] %}
                       <optgroup name="{{ dialect }}" label=" {{ region[0] }}">
                       {% for dialect in region[1] %}
                         <option value="{{ dialect }}">{{ dialect }}</option>
                       {% endfor %}
                     {% endfor %}
                   {% endfor %}
                </select>          
              </div><!--sub_dialect_display -->
          </div><!--dialect_display -->

      </div>  <!--speaker_characteristics_display-->

    <!--#########################################################################-->
        <button style="background: #cedfe8; " onclick="recordingInformation()">{{ page.recording_information }}</button>
	      <div style="display: none;" id="recording_information_display">
          <label for="microphone">{{ page.microphone.label }}</label>
          <select type="text" id="microphone"/></br>
            <option selected value="Unknown">{{ page.please_select }}</option>
            {% for item in page.microphone.selection %}
              <option value="{{ item }}">{{ item }}</option>    
            {% endfor %}
           </select>
        <div style="display: none;"  id="microphone_other_display">
          <label style="display: inline;"  for="microphone_other">Microphone Type:</label>
          <input id="microphone_other" 
             placeholder="{{ page.microphone.other_label }}" value="" 
             type="text">
        </div>

        <label for="recording_location">{{ page.recording_location.label }}</label>
        <select type="text" id="recording_location"/></br>
          <option selected value="Unknown">{{ page.please_select }}</option>
            {% for item in page.recording_location.selection %}
              <option value="{{ item }}">{{ item }}</option>    
            {% endfor %}
          </select>
        <div style="display: none;"  id="recording_location_other_display">
          <label style="display: inline;"  for="recording_location_other">{{ page.recording_location.other_label }}</label>
          <input id="recording_location_other" 
             placeholder="{{ page.recording_location.other_label }}" value="" 
             type="text">
        </div>

        <label for="background_noise">{{ page.background_noise.label }}</label>
        <select type="text" id="background_noise"/></br>
          <option selected value="Unknown">{{ page.please_select }}</option>
          {% for item in page.background_noise.selection %}
            <option value="{{ item }}">{{ item }}</option>
          {% endfor %}
        </select>

        <div id=background_noise_display>
          <label for="noise_volume">{{ page.noise_volume.label }}</label>
          <select type="text" id="noise_volume"/></br>
            <option selected value="Unknown">{{ page.please_select }}</option>
            {% for item in page.noise_volume.selection %}
              <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
          </select>

          <label for="noise_type">{{ page.noise_type.label }}</label>
          <select type="text" id="noise_type"/></br>
            <option selected value="Unknown">{{ page.please_select }}</option>
            {% for item in page.noise_type.selection %}
              <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
          </select>
          <div style="display: none;"  id="noise_type_other_display">
            <label style="display: inline;"  for="noise_type_other">{{ page.noise_type.other_label }}</label>
            <input id="noise_type_other" 
               placeholder="{{ page.noise_type.other_label }}" value="" 
               type="text">
          </div>
         </div> <!-- background_noise_display -->
           <label  style="display: inline;"  for="license">{{ page.license.label }}</label>
           <a href="#license_popupInfo" data-rel="popup" data-transition="pop" 
             class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" 
             title="{{ page.license.popup.hover_text }}">
           </a>
           <div data-role="popup" id="license_popupInfo" class="ui-content" data-theme="a" style="max-width:350px;">
            <p><a href="{{ page.license.popup.link }}" target="_blank">{{ page.license.label }}</a>: {{ page.license.popup.text }}</p>
           </div>
           <select type="text" id="license"/></br>
              <option selected value="CC0">{{ page.please_select }}</option>
              {% for item in page.license.selection %}
                <option value="{{ item }}">{{ item }}</option>
              {% endfor %}
              </select>
	       </div> <!-- recording_information_display -->
	     </div><!-- readme -->
	   </div> <!-- profile-display -->

        </br>

      <label for="noise_type">{{ page.num_prompts.label }}</label>
      <select type="number" id="max_num_prompts"/></br>
        <option selected value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
        <option value="30">30</option>
        <option value="35">35</option>
        <option value="40">40</option>
        <option value="45">45</option>
        <option value="50">50</option>
      </select>

      <button style="display: none;" 
              id="directions-button-display" 
              style="background: #cedfe8;" 
              onclick="directionInfo()">{{ page.instructions.label }}</button>
      <div id="directions-display">
        {{ page.instructions.line1 }}
            <a href="#ms_windows_mic_popupInfo" data-rel="popup" data-transition="pop" 
               class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" 
               title="{{ page.instructions.edge.mouse_over_text }}">
            </a>
          <div data-role="popup" id="ms_windows_mic_popupInfo" class="ui-content" data-theme="a" style="max-width:350px;">
            <p><a href="{{ page.instructions.edge.popup.link }}" target="_blank">{{ page.instructions.edge.popup.title }}</a>
              {{ page.instructions.edge.popup.text }}
            </p>
          </div>
        <br/>
        {{ page.instructions.line2 }}
        <br/>
        {{ page.instructions.line3 }}
      </div>

      <div class="progress-display">
      </div>
      <div class="info-display">
      </div>
      <div class="prompt_id" style="display: none;">
      </div>
      </section> <!-- top-display -->

      <section class="main-controls">
        <canvas class="visualizer"></canvas>
        <div id="buttons">
          <button class="record">{{ page.controls.record }}</button>
          <button class="stop">{{ page.controls.stop }}</button>
          <button class="upload">{{ page.controls.upload }}</button>
        </div>
      </section> <!-- main-controls -->

      <section class="sound-clips">
        
        <!-- This is left here as a helper for testing the style of the clips
        If you want to edit their appearance without having to record clips,
        uncomment this and reload the page. Remember to comment it again when done!
        <article class="clip">
          <audio controls></audio>
          <p>Sample clip name</p>
          <button class="delete">Delete</button>
        </article>
        -->

      </section>

    </div>
<!--     <script src="static/scripts/jquery-3.2.1.js"></script> -->

<!--     TODO minify and store on own server
         see: http://ixti.net/software/2012/12/30/unleash-mr-hyde-introduction-of-jekyll-assets.html
-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="/assets/static/scripts/jquery.cookie.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.js"></script> 
    <script src="/assets/static/scripts/jszip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.js"></script>
    <script src="/assets/static/scripts/platform.js"></script>
    <script src="/assets/static/scripts/languages.js"></script>
    <script src="/assets/static/scripts/profile.js"></script>
    <script src="/assets/static/scripts/prompts.js"></script>
    <script src="/assets/static/scripts/app.js"></script>
  </body>
</html>
